<a href="/game_details/{{id}}">
  <div class="game_preview">
    <div class="left_hamsters">
      <img src="images/playfulFriendSmall2.png" alt="hamster with dice">
      <img src="images/playfulFriendSmall2.png" alt="hamster with dice">
    </div>
    <div>
      <img src="{{image_url}}" alt="Box-image of {{name}}" id="my-games-images">
    </div>
    <div class='left_hamsters'>
      <img src="images/playfulFriendSmall2.png" alt="hamster with dice">
      <img src="images/playfulFriendSmall2.png" alt="hamster with dice">
    </div>
  </div>
</a>