<div>
  <h1>Search for games by name</h1>
</div>

<div class='my_search_bar'>
  <form action="game_search_by_name" method="GET">
    <input type="text" name="q" id="game-search" placeholder="Search for a game here" />
    <button type="submit">Start the search!</button>
  </form>
</div>

<hr>

<h2 id='my_games_title'>My Games</h2>
<div class='my_games_grid'>
  {{#each games}}
  <div class="my_games_previews">
    {{> game_preview this}}
    <form action="/delete_game/{{id}}" method="post">
      <button type='submit'>Delete</button>
    </form>
  </div>
  {{/each}}
</div>