<script>
  function generateOneGame () {
  document.getElementById('generate-game-btn').addEventListener('click', () => {

  const time = document.getElementById('time').value;
  console.log(time)

  // getCountryInfo(userInput);

})   
  }
 </script>
 <h1>...pick a game already!</h1>
<form action="/game_details" method='GET'>
   <fieldset id="time">
    <legend>Time</legend>
    <input type="radio" name="time" value="max_playtime=20">
    <label>Less than 20 min</label><br/>
    <input type="radio" name="time" value="min_playtime=20&max_playtime=60">
    <label>20min &mdash; 1 hour</label><br/>
    <input type="radio" name="time" value="min_playtime=60&max_playtime=120">
    <label>1 hour &mdash; 2 hours</label><br/>
    <input type="radio" name="time" value ="min_playtime=120&max_playtime=240">
    <label>2 hours &mdash; 4 hours</label><br/>
    <input type="radio" name="time" value ="min_playtime=240">
    <label>Play all night!</label>
  </fieldset>



  <fieldset>
    <legend>Number of players</legend>

    <input type="radio" id="oneplayer" name="player" value="0">
    <label for="oneplayer">1</label><br/>

    <input type="radio" id="onetwoplayer" name="player" value="1">
    <label for="onetwoplayer">1 &mdash; 2</label><br/>

    <input type="radio" id="twofiveplayer" name="player" value="2">
    <label for="twofiveplayer">2 &mdash; 5</label><br/>


    <input type="radio" id="fiveplayer" name="player" value ="3">
    <label for="fiveplayer">5 and more</label>
  </fieldset>

<fieldset>
    <legend>Minimum age</legend>

    <input type="radio" id="agetwo" name="age" value="0">
    <label for="agetwo">2 and up</label><br/>

    <input type="radio" id="agefour" name="age" value="1">
    <label for="agefour">4 and up</label><br/>

    <input type="radio" id="ageeight" name="age" value="2">
    <label for="ageeight">8 and up</label><br/>

    <input type="radio" id="agetwelve" name="age" value="3">
    <label for="agetwelve">12 and up</label><br/>

    <input type="radio" id="ageeighteen" name="age" value="4">
    <label for="ageeighteen">18 and up</label><br/>

    <input type="radio" id="agetwentyone" name="age" value ="5">
    <label for="agetwentyone">21 and  up</label>
    
  </fieldset>

    
    {{!-- <button type="submit">Search for a game!</button>



    <a href='/game_details/{{id}}/'><img src="{{img_url}}" alt="Box-image of {{name}}"></a>
</form> --}}

<a href="#" class="generate-game-btn" onclick="generateOneGame">Der generate game button</a>
