<h1>...pick a game already!</h1>

<form action="/game_search" method="POST">

    <label for="players"></label>
    <select name="players" id="players">
    </select>

    <label for='time'>Time:</label>
    <select name='time' id='time'>
    </select>

    <label for='players'>Min players:</label>
    <select name='players' id='players'>
    </select>

    <label for='age'>Age:</label>
    <select name='age' id='age'>
    </select>

    <button type="submit">Search for a game!</button>

    //missing logic to click on the generated game and jump to its page

    

    
</form>


