body {
  padding: 50px;
  margin: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif; }

:root {
  --border-radius: 5px;
  --box-shadow: 2px 2px 10px;
  --color: #F57E27;
  --color-accent: #118bee0b;
  --color-bg: #fff;
  --color-bg-secondary: #9f5313;
  --color-secondary: #920de9;
  --color-secondary-accent: #920de90b;
  --color-shadow: #9f5313;
  --color-text: #000;
  --color-text-secondary: #999;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --hover-brightness: 1.2;
  --justify-important: center;
  --justify-normal: left;
  --line-height: 150%;
  --width-card: 285px;
  --width-card-medium: 460px;
  --width-card-wide: 800px;
  --width-content: 1080px; }

a {
  color: #ffffff; }

h1 {
  color: #ffffff;
  text-align: center; }

.navbar {
  font-size: 20px;
  background: #9f5313;
  border-radius: 25px;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-content: center; }

form {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: #9f5313; }

fieldset {
  font-size: 20px;
  background: white; }

fieldset > legend {
  background-color: #9f5313;
  border-radius: 25px;
  padding: 8px;
  color: white; }

.generator {
  text-align: center; }

button {
  color: #9f5313;
  border-radius: 25px;
  border: 4px solid black;
  background-color: white; }

nav {
  margin-bottom: 3vw; }

#my-games-images {
  width: 20vw; }

.game_preview {
  background-color: white;
  width: 25vw;
  height: 35vw;
  margin: 2vw;
  text-align: center;
  text-decoration: none;
  font-size: 2vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.game_preview a {
  color: black; }

.game_preview_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.game_card form {
  display: flex;
  justify-content: center;
  align-items: center; }

.game_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.title_pic {
  text-align: center;
  padding: 3vw;
  background-color: white !important; }

.title_pic h1 {
  color: #9e531d; }

.game_card div {
  background-color: #9e531d;
  border-radius: 5px;
  color: white; }

.game_card p {
  padding: 0;
  margin: 0; }

.game_card img {
  width: 30vw; }

.button_form {
  background-color: transparent; }

.description {
  padding: 2vw;
  margin: 1vw 3vw; }

.game_card form {
  border: inherit;
  box-shadow: none;
  padding: 0;
  background-color: none; }

.time_players_age_price_subDiv {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.time_players_age_price {
  display: flex;
  margin: 0;
  padding: 0; }

.time_players_age_price p {
  padding: 1vw; }

.ratings h2 {
  margin: 0; }

.ratings {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2vw;
  justify-content: center;
  align-items: center; }

.ratings_video {
  display: flex;
  align-items: center;
  margin: 1vw 3vw; }

.details_buttons form {
  display: flex;
  justify-content: center;
  background-color: none; }

.details_video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw;
  margin: 1vw 3vw; }

.game_card h2 {
  font-size: 3vw; }

.game_card a {
  color: white;
  text-decoration: underline;
  width: 10vw; }

#game {
  display: block;
  text-align: center; }

.loadingPic {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left; }

.hide-it {
  display: none; }

.show-it {
  display: block;
  display: initial; }

.flexcontainer {
  display: flex; }

#loading {
  height: 250px; }

.hamster {
  position: absolute;
  animation: moveToLeft 2.5s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0; }

.pushyfriend {
  width: 250px;
  height: 250px; }

@keyframes moveToLeft {
  0% {
    left: -50%; }
  100% {
    left: calc(50% - 200px); } }

.show-game {
  width: 200px;
  height: 200px;
  margin-left: 0;
  margin-bottom: 12px; }

.gamebox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.explore_clickable {
  width: 25vw;
  height: 25vw;
  color: white;
  margin: 1vw;
  text-decoration: none; }

#top20 {
  background-image: url("/images/top20.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center; }

#hate {
  background-image: url("/images/love_to_hate.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center; }

#talk {
  background-image: url("/images/talking_about.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center; }

#single {
  background-image: url("/images/single_player.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center; }

#scary {
  background-image: url("/images/scary.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center;
  color: black; }

#ironhack {
  background-image: url("/images/ironhack.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.explore_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.header-explore {
  text-align: center; }

/*# sourceMappingURL=style.css.map */