<h1>Curated lists of games</h1>

<div>
<h2>Top 10</h2>
<a href='/top10'><img src='' alt='Top10 picture'></a>
</div>

<div>
<h2>Worst games ever</h2>
<a href=''><img src='' alt='Worst games picture'></a>
</div>

<div>
<h2>Games for a rainy day</h2>
<a href=''><img src='' alt='Rainy day games picture'></a>
</div>

<div>
<h2>Single player games</h2>
<a href=''><img src='' alt='Single player games picture'></a>
</div>


