<h1>Curated lists of games</h1>

<div>
<h2>Top 10 most popular games</h2>
<a href='/top10'><img src='' alt='Top10 picture'></a>
</div>

<div>
<h2>Games people love to hate</h2>
<a href='/love_to_hate'><img src='' alt='Worst games picture'></a>
</div>

<div>
<h2>Games people are talking about this week</h2>
<a href='/talking_about'><img src='' alt='Talking about picture'></a>
</div>

<div>
<h2>Best singleplayer games</h2>
<a href='/single_player'><img src='' alt='Single player games picture'></a>
</div>

<div>
<h2>Don't play these scary games before bed</h2>
<a href='/scary_games'><img src='' alt='scary picture'></a>
</div>

<div>
  <h2>Ironhack Favorites</h2>
  <a href='/ironhack_favorites'><img src='' alt='ironhack picture'></a>
</div>

