<h1 class='header-explore'>Explore Games</h1>

<div class='explore_grid'>
  <a href='/ironhack_favorites'>
    <div class='explore_clickable' id='ironhack'>
      <h2>Ironhack Favorites</h2>
      {{!-- <img src='/images/ironhack.png' alt='ironhack picture'></a> --}}
    </div>
  </a>

  <a href='/top10'>
    <div class='explore_clickable' id='top20'>

      <h2>Top 10 most popular games</h2>

      {{!-- <img src='/images/top20.jpg' alt='Top10 picture'> --}}
    </div>
  </a>
  <a href='/love_to_hate'>
    <div class='explore_clickable' id='hate'>
      <h2>Games people love to hate</h2>
      {{!-- <img src='/images/love_to_hate.jpg' alt='Worst games picture'></a> --}}
    </div>
  </a>
  <a href='/talking_about'>
    <div class='explore_clickable' id='talk'>

      <h2>Games people are talking about this week</h2>
      {{!--<img src='/images/talking_about.jpg' alt='Talking about picture'></a> --}}
    </div>
  </a>

  <a href='/single_player'>
    <div class='explore_clickable' id='single'>
      <h2>Best singleplayer games</h2>
      {{!-- <img src='/images/single_player.jpg' alt='Single player games picture'></a> --}}
    </div>
  </a>
  <a href='/scary_games'>
    <div class='explore_clickable' id='scary'>
      <h2>Don't play these scary games before bed</h2>
      {{!-- <img src='/images/scary.jpg' alt='scary picture'></a> --}}
    </div>
  </a>


</div>