<h1>Ironhack Favorites</h1>

<div>
{{!-- <h2>Top 10</h2> --}}
{{#each games}}
{{ironhacker}}'s Favorite Game: 
  {{> game_preview this}}
{{#if ../user}}
<form action="/add_game/{{id}}" method="post">
  <button type="submit">Add to my games</button>
</form>
{{/if}}

{{/each}}
</div>