<h1>Games people are talking about this week</h1>

<div>
{{!-- <h2>Top 10</h2> --}}
{{#each games}}
  {{> game_preview this}}

{{#if ../user}}
<form action="/add_game/{{id}}" method="post">
  <button type="submit">Add to my games</button>
</form>
{{/if}}

{{/each}}
</div>