<h1>Top 10 most popular games</h1>

<div class="games_preview_grid">
{{!-- <h2>Top 10</h2> --}}
{{#each games}}
  {{> game_preview this}}

{{!-- {{#if ../user}}
<form action="/add_game/{{id}}" method="post">
  <button type="submit">Add to my games</button>
</form>
{{/if}} --}}

{{/each}}
</div>